{# twig template #}
{% extends 'landing-page.html.twig' %}


{% block main_content %}

    {{ parent() }}

        {# BREAK #}
        <div class="w-100"></div>

        <div class="col-sm-12">
            <div class="row h-100 mt-2">
                <div class="col-sm-4 d-none d-sm-block my-auto text-center">
                    <img id="logo" class="img-fluid" src="{{ asset('build/assets/img/logo-new.png') }}" alt="person cleaning gutters with vacuum" />
                </div>

                <div class="col-sm-4 text-center mb-2 mb-sm-0">
                    <table class="h-100 w-100 border-dashed border-danger p-2">
                        <tbody class="p-2">
                        <tr>
                            <td class="align-bottom text-center w-100">Get 10% Off <span class="text-nowrap">When You Call Now!</span></td>
                        </tr>
                        <tr>
                            <td class="align-top text-center w-100 display-6 display-md-6 font-weight-bold text-danger">(478) 841-9797</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4 my-auto">
                    <p>Servicing Warner Robins, Bonaire, Kathleen, Macon, Byron, and Fort Valley.</p>
                </div>
            </div>
        </div>

        {# BREAK #}
        <div class="w-100"></div>

        {# PAGE TITLE #}
        <div class="col-12">
            <h1 class="display-5 display-md-5 text-center text-primary font-weight-bold my-5">Want your gutters cleaned, without worrying about someone climbing on your roof, or falling from a ladder?</h1>
        </div>

        {# BREAK #}
        <div class="w-100"></div>

        <div class="col-sm-8">

            <div class="row">
                <div class="col-12">
                    {#<img src="{{ asset('build/assets/img/before-after-house.png') }}" alt="before and after of clean gutters">#}
                    <h1 class="display-6 display-md-6 text-center text-primary font-weight-bold mb-3">We'll clean your gutters safely from the ground, using a high-powered vacuum system!</h1>
                </div>

                {# BREAK #}
                <div class="w-100"></div>

                <div class="col-12">
                    <div class="card" style="">
                        <img src="{{ asset('build/assets/img/sky-vac.jpeg') }}" class="d-block w-100" alt="vacuum hose inside gutter with camera attachment">
                        <div class="card-body">
                            <p class="card-text">We clean your gutters, with our feet planted firmly on the ground, using a high-powered vacuum system. It's not the shop-vac you might have in mind. Our industrial-strength vacuum has three motors, and is capable of extracting all the heavy debris that can take your gutters out of service.</p>

                            <ul>
                                <li>No Ladders - we don't need 'em</li>
                                <li>No Mess - we take the trash out with us</li>
                                <li>No Critters - roaches and ants can make their homes in dirty gutters</li>
                                <li>No Worries - we're licensed and insured</li>
                            </ul>

                            <h4 class="text-center text-primary">Call Now To Schedule Your Cleaning</h4>
                            <h6 class="display-5 text-center text-primary">(478) 841-9797</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-sm-4">

            <div class="row">

                {# QUOTE FORM #}
                <div class="col-12">
                    <div class="card">
                        <h5 class="card-header text-primary">Get A Free Quote!</h5>
                        <div class="card-body">
                            <p class="card-title">We'll come out and give you a custom quote, so you know exactly what to expect when we clean your gutters.</p>
                            <div class="">
                                <form class="">
                                    <div class="form-row my-2">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="John Doe">
                                    </div>
                                    <div class="form-row my-2">
                                        <input type="text" class="form-control" id="address" name="address" placeholder="555 Mayweather Ln, Warner Robins, GA 31088">
                                    </div>
                                    <div class="form-row my-2">
                                        <input type="text" class="form-control" id="phone" name="phone_number" placeholder="(478) 555-5555">
                                    </div>
                                    <div class="form-row my-2">
                                        <label for="reason">Why would you like your gutters cleaned?</label>
                                        <select class="form-control" id="reason" name="reason" >
                                            <option value="-1"></option>
                                            <option value="1">Mine are clogged or overflowing</option>
                                            <option value="2">As routine maintenance</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Schedule Now</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                {# TESTIMONIALS #}
                <div class="col-12 mt-3">
                    <div class="card testimonial pt-3">
                        <img class="card-img-top align-self-center" src="{{ asset('build/assets/img/avatar.png') }}" alt="person who left a real review">
                        <div class="card-body">
                            <div id="review-rating" class="card-title text-center">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="card-text">Joe cleaned my gutters the same day I called. He showed me a live video of the dirty gutters, and another video once he was done! The price was right, and the service was excellent. Will definitely use again.</p>
                            {#<a href="#" class="btn btn-primary">Go somewhere</a>#}
                        </div>
                    </div>
                </div>
            </div>

        </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('landing-page') }}
{% endblock %}