{# twig template #}
<<<<<<< HEAD
=======
{# parent to all page templates #}

>>>>>>> branch-fix
<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title>Clean Gutter Co</title>
=======
    <title>
        {% block doc_title %}
            {{ 'Clean Gutter Co' }}
        {% endblock %}
    </title>
>>>>>>> branch-fix
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    {# TODO: Implement web manifest #}
    <!-- Place favicon.ico in the root directory -->
    {#<link rel="manifest" href="site.webmanifest">#}
    {#<link rel="apple-touch-icon" href="icon.png">#}
    <link rel="icon" href="{{ absolute_url('favicon-home.ico') }}">

    {#<meta name="theme-color" content="#fafafa">#}

<<<<<<< HEAD
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TLBJX33');</script>
    <!-- End Google Tag Manager -->

=======
>>>>>>> branch-fix
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<<<<<<< HEAD
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TLBJX33"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
=======
>>>>>>> branch-fix

{# BODY BLOCK #}
<div id="app">

    <div class="container-fluid col-md-10">
        <div class="row">

<<<<<<< HEAD
            {# Include Nav Bar#}
=======
            {# Include Nav Bar site-wide #}
>>>>>>> branch-fix
            {% include 'parts/nav-bar.html.twig' %}

            {# Include Header #}
            {#{% include 'parts/header.html.twig' %}#}
<<<<<<< HEAD

            {# Main Content Block #}
            {# Implementer responsible for .row(s) #}
            {% block main_content %}

            {% endblock %}
=======
            {# Implementer responsible for .row(s) #}

            {# Include the layout to use #}
            {% block page_content %}{% endblock %}

>>>>>>> branch-fix
        </div>

    </div>

</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<!--[if IE]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->

<!-- Add your site or application content here -->

{#<script src="js/vendor/modernizr-{{ MODERNIZR_VERSION }}.min.js"></script>#}
{#<script src="https://code.jquery.com/jquery-{{ JQUERY_VERSION }}.min.js" integrity="{{ JQUERY_SRI_HASH }}"#}
{#crossorigin="anonymous"></script>#}
{#<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{ JQUERY_VERSION }}.min.js"><\/script>')</script>#}
{#<script src="js/plugins.js"></script>#}
{#<script src="js/main.js"></script>#}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-134700346-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-134700346-1');
</script>

<script src="https://www.google-analytics.com/analytics.js" async defer></script>

</body>

</html>