<!doctype html>
<html class="no-js" lang="">

    <head>
        <meta charset="utf-8">
        <title>Clean Gutter Co</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        {# TODO: Implement web manifest #}
        <!-- Place favicon.ico in the root directory -->
        {#<link rel="manifest" href="site.webmanifest">#}
        {#<link rel="apple-touch-icon" href="icon.png">#}
        <link rel="icon" href="{{ absolute_url('favicon-home.ico') }}">

        {#<meta name="theme-color" content="#fafafa">#}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>

    {# BODY BLOCK #}
    {% block main_content %}

        <div id="app">

            {# Nav Container #}
            <b-container fluid>
                <b-row>
                    <b-col no-gutters>column 1</b-col>
                    <b-col no-gutters>column 2</b-col>
                    <b-col no-gutters>column 3</b-col>
                    <b-col no-gutters>column 4</b-col>
                </b-row>
            </b-container>

            <b-container fluid>
                <b-jumbotron header="BootstrapVue" lead="Bootstrap 4 Components for Vue.js 2">
                    <p>For more information visit our website</p>
                    <b-btn variant="primary" href="https://bootstrap-vue.js.org/">More Info</b-btn>
                </b-jumbotron>

                <b-form-group
                        horizontal
                        :label-cols="4"
                        description="Let us know your name."
                        label="Enter your name"
                >
                    <b-form-input v-model.trim="name"></b-form-input>
                </b-form-group>

                <b-alert variant="success" :show="showAlert">Hello {% verbatim %}{{ name }}{% endverbatim %}</b-alert>
            </b-container>
        </div>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <!--[if IE]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
            your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        {#<script src="js/vendor/modernizr-{{ MODERNIZR_VERSION }}.min.js"></script>#}
        {#<script src="https://code.jquery.com/jquery-{{ JQUERY_VERSION }}.min.js" integrity="{{ JQUERY_SRI_HASH }}"#}
                {#crossorigin="anonymous"></script>#}
        {#<script>window.jQuery || document.write('<script src="js/vendor/jquery-{{ JQUERY_VERSION }}.min.js"><\/script>')</script>#}
        {#<script src="js/plugins.js"></script>#}
        {#<script src="js/main.js"></script>#}

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134700346-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-134700346-1');
        </script>

        <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    </body>

</html>